<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>TODO付きカレンダー</title>

    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">
</head>

<body>

    <h1>TODO付きカレンダー</h1>

    <button id="prevMonth">前の月</button>
    <button id="nextMonth">次の月</button>
    <h2 id="monthTitle">1月</h2>

    <table id="calendar" border="1">
        <tr>
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
        </tr>
    </table>

    <script src="{{ url_for('main.static', filename='js/index.js') }}"></script>
</body>

</html>
